<div class="container w-100">

    <div class="row w-100 mt5">
        <div class="col-md-12">
            <h1 class=" text-center"> Bem vindes ao blog vegano! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify mb-0">
                "O veganismo é uma forma de viver que busca excluir, na medida do possível e do praticável, todas as formas de exploração e de crueldade contra animais, seja para a alimentação, para o vestuário ou para qualquer outra finalidade. Dos veganos junk food aos veganos crudívoros – e todos mais entre eles – há uma versão do veganismo para todos os gostos. No entanto, uma coisa que todos nós temos em comum é uma dieta baseada em vegetais, livre de todos os alimentos de origem animal, como: carne, laticínios, ovos e mel, bem como produtos como o couro e qualquer produto testado em animais."
            </p>
            <p class="text-justify font-italic text-secondary">- Definição criada pela 'The Vegan Society', mais antiga entidade vegana do mundo.</p>
            <p class="text-center text-justify">
                Vegano – ou vegana –, portanto, é a pessoa que pratica o veganismo, não contribuindo para o sofrimento dos animais.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-success text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
