<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://avatars3.githubusercontent.com/u/69260551?s=460&u=d4f1cc3e9418cd1f26bfe58fcbc3ca8f89b45ffa&v=4" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Daysy Lorena</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora vegana apaixonada por aprendizado. Dançarina e leitora voraz nas horas vagas.</p>

      <a href="https://www.linkedin.com/in/daysylorena/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      
      <a href="https://github.com/daysylorena" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
  </div>
